html{
    background: url(bg2.jpg) no-repeat center fixed;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
}
.logo{
    flex: 1;
}
.logo img{
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 5px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color:purple;
    background-color: transparent;
    text-decoration: none;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
h2{
    text-align: center;
  }
  div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
 
div.img:hover {
    border: 1px solid #777;
}
 
div.img img {
    width: 100%;
    height: auto;
}

div.img2 {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 180px;
}

div.img2:hover {
  border: 1px solid #777;
}

div.img2 img {
  width: 100%;
  height: auto;
}

 
div.desc {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
}
.ketua{
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.div1{
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 770px;
}
footer{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 10px;
  color: #fff;
  position: absolute;
  bottom: -2000px;
  text-align: center;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: black;
}
p{
  text-align: center;
  margin-top: 60px;
  font-size: 10px;
  font-family:sans-serif;
  color: black;
}
#but{
  border: 0px solid black;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#kiri{
  float: left;
}
#kanan{
  float: right;
}