html{
    background: url(bg2.jpg) no-repeat center fixed;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
}
.logo{
    flex: 1;
}
.logo img{
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 5px;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-top: 5px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color:purple;
    background-color: transparent;
    text-decoration: none;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 10px;
    color: #fff;
    position: absolute;
    bottom: -2000px;
    text-align: center;
  }
h3{
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      text-align: center;
      color: black;
    }
.foto{
    border: 1px solid black;
    width: auto;
    height: auto;
}

.foto img{
    padding: 20px;
    width: 20%;
    height: 10%;
    margin-right: 31px;
}
button{
    margin-top: 10px;
}